
/* body */

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
   }


/* navbar*/

nav{
    
    text-align:center;
   
    
}

.navbar-collapse {
    justify-content: center;
}

li{
   
    display:inline;
    list-style:none;
    padding:2em 2em;
    margin-left:4em;
}

a{
    width:100%;
    color:black;
    text-decoration:none;
    font-weight:bold;

}
   
/* texto */
main{
    text-align:center;
}


h1,h2{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    padding-bottom: 50px;
    padding-top:50px;
    

}

p{
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
    
}



.pmerch{
    text-align:center;
}

.bg-light {
    --bs-bg-opacity: 0;
}

audio{
    margin-top:30px;
}

/* footer */



footer{
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    font-weight:bold;
    padding-top:1em;
    font-size:0.9em;
}

.pfooter{

    text-align:center;
}



.indexp{
   margin-left:0;
   padding-left:0;
   padding-top: 80px;
}

/* okonma */

.okonmabody{
    background-color: #74D3BB;
}



/* music */
.musicbody{
    background-color: #D374B8;
}


/* fashion */
.fashionbody{
    background-color: #C6C89B;
}



.fashionp{
    margin-left:0;
    padding-left:0;
    padding-top: 80px;

}



img{
    width:100%;
}

.tylerp{
    padding-top:250px;
}

audio:hover{
    transform:scale(2);
    transition:all 0.8s ease-in-out
}

